<div>
  <h1>Search City/State For Weather Results</h1>
</div>
<div class="search-container" align="center">

  <form class="search-form" action="/weather/results" method="get">
    <div class="form-group">
      <input class="input-text" type="text" name="city" placeholder="city">
    </div>

    <div class="form-group">
      <input class="input-text" type="text" name="state" placeholder="state">
    </div>
    <button type="submit" class="btn btn-primary-dark">Submit</button>
  </form>
</form>
<div>
<br>
