<div class="search-container">
<form class="search-form" action="/weather/results" method="get">
    <input class="input-text" type="text" name="city" placeholder="city">
    <input class="input-text" type="text" name="state" placeholder="state">
    <input type="submit" value="submit">
  </form>
</form>
<div>
